nav{
    display: flex;
    justify-content: space-between ;
    margin: 0 20px;
}

ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 200px;
}

ul li a{
    text-decoration: none;
}

.active{
    background-color: brown;
}