<app-header></app-header>
<!-- 
<h1>Counter App</h1>
<div style="text-align: center;">
  <h2 class="count">{{count}}</h2>
  <div>
    <button (click)="handleCounter('minus')" class="btn bg-red">Decrement</button>
    <button (click)=" handleCounter('reset')" class="btn bg-black">Reset</button>
    <button (click)="handleCounter('plus')" class="btn bg-green">Increment</button>
  </div>
</div>


<h1>Event in Angular</h1>
<button class="btn" name="login" (click)="handleEvent($event)"  >Click Event</button>

<br>
<br>



<h1>Event in Angular</h1>
<button class="btn" name="login" (click)="handleEvent($event)">Click Event</button>

<br>
<br>

<div 
(mouseenter)="handleEvent($event)"
 style="background-color: green; width: 100px; height: 100px;">
</div>

<div 
(mouseleave)="handleEvent($event)"
 style="background-color: blue; width: 100px; height: 100px;">
</div>

<br>
<br>
<input type="text"
(focus)="handleEvent($event)"
(blur)="handleEvent($event)"
(input)="handleEvent($event)"
name="user">-->

<!-- <h1>Get and Set Input field Value</h1>
<h2>User name is: {{displayName}}</h2>
<input type="text" value="{{name}}" (input)="getName($event)" placeholder="Enter User Name">
<br>
<br>
<button (click)="showName()">Get Name</button> 
<button (click)="setName()">Set Name</button> 
<hr>
<h2>Email: {{email}}</h2>
<input type="text" value="{{email}}" placeholder="enter email" #emailField>
<button (click)="getEmail(emailField.value)">Get Email</button>
<button (click)="setEmail()">Set Email</button> -->


<!-- <h2>If Else | Control Flow</h2>
<button (click)="hide()">Hide Div</button>
<button (click)="show()">Show Div</button>
<button (click)="toggle()">Toggle Div</button>
@if(display){
  <div style="width: 200px; height: 200px; background-color: brown;"></div>  
}
<hr>
<button (click)="toggleTwo()">{{toggleDiv?'show rebeccapurple div':'show blue div'}}</button>
@if(toggleDiv){
  <div style="background-color:blue; width: 200px; height: 200px;"></div>
}
@else{
  <div style="background-color: rebeccapurple; width: 200px; height: 200px;"></div>
} -->

<!-- <h1>Else If | Control Flow</h1>

<button (click)="handleColor(1)">Red</button>
<button (click)="handleColor(2)">Rebeccapurple</button>
<button (click)="handleColor(3)">Yellow</button>
<button (click)="handleColor(10)">Other</button>
<input type="text" (input)="handleInput($event)" placeholder="enter color number">
@if(color==1){
  <div style="background-color: red; width: 100px; height: 100px;"></div>
}
@else if(color==2){
  <div style="background-color: rebeccapurple; width: 100px; height: 100px;"></div>
}
@else if(color==3){
  <div style="background-color: yellow; width: 100px; height: 100px;"></div>
}
@else{
  <div style="background-color: black; width: 100px; height: 100px;"></div>
} -->


<!-- <h2>Switch Case in Angular </h2>
<button (click)="handleColor('red')">Red</button>
<button (click)="handleColor('green')">Green</button>
<button (click)="handleColor('blue')">Blue</button>
<button (click)="handleColor('yellow')">Yellow</button>
<button (click)="handleColor('gold')">Gold</button>
<input type="text" placeholder="Enter Color Name" (input)="changeColor($event)">
@switch(color){
  @case('red'){
    <h1 style="background-color: red;">Red Color</h1>
  }
  @case('green'){
    <h1 style="background-color: green;">Green Color</h1>
  }
  @case('blue'){
    <h1 style="background-color: blue;">Blue Color</h1>
  }
  @case('yellow'){
    <h1 style="background-color: yellow;">Yellow Color</h1>
  }
  @default{
    <h1 style="background-color: black; color: #fff;">No Color</h1>
  }
} -->

<!-- <h2>For Loop in Angular</h2>
@for(user of users; track user){
  <h2>{{user}}</h2>
}
<hr>
@for(student of students; track student){
  <h2>
    <span>{{student.name}}</span>
    <span>{{student.age}}</span>
    <span>{{student.email}}</span>
    <button (click)="getName(student.name)">Get Name</button>
  </h2>
} -->

<!-- <h1>Basic Signals</h1>
<h2>{{x}}</h2> -->
<!-- <button (click)="updateValue()">Increase value</button> -->
 <!-- <button (click)="updateValue('dec')">Decrement</button>
 <h2>{{count()}}</h2>
 <button (click)="updateValue('inc')">Increment</button> -->

 <!-- <button (click)="count.set(count()-1)">Decrement</button>
 <h2>{{count()}}</h2>
 <button (click)="count.set(count()+1)">Increment</button>
  -->

  <!-- <h1>Types with Signals</h1>
  <h2>{{data()}}</h2>
  <h2>{{count()}}</h2>
  <button (click)="updateSignal()">Update</button> -->

   <!-- <h1>computed Signals</h1>
   <h2>{{z()}}</h2>
   <button (click)="showValue()">Show Value</button>
   <button (click)="updateX()">Update X</button> -->

   <!-- <h1>Effect in Angular</h1>
   <h2>{{count()}}</h2>
   <button (click)="userName.set('Bristy')">Update userName</button>
   <button (click)="toggleValue()">Update Heading</button>
   @if(displayHeading){
    <h2 style="background-color: brown; color: #fff; text-align: center;">Page Heading</h2>
   } -->

  <!-- <h1>For Loop Contextual Variables</h1>

@for (user of users; track user; let i = $index) {

  @if ($first || $last) {
    <h3 style="background-color:brown; color:#fff;">
      This is our {{ i + 1 }} user & user name is {{ user }}
    </h3>
  }
  @else {
    <h3>
      This is our {{ i + 1 }} user & name is {{ user }}
    </h3>
  } -->
    <!-- @if($odd){
      <h3 style="background-color: #aaa;">This is our {{i}} user and name is {{user}}</h3>
    }
    @if($even){
      <h3 style="background-color: greenyellow;">This is our {{i}} user and name is {{user}}</h3>
    }

    @empty(){
      <h2>No Record Found</h2>
    } -->


<!-- <h1>Two WAy Binding</h1>
<input [(ngModel)]="name" type="text" placeholder="Enter name">
<h2>{{name}}</h2> -->

<!-- <h1>To Do List</h1>
<input type="text" [(ngModel)]="task" placeholder="Enter New Task">
<button (click)="addTask()">Add Task</button>
<h1>{{task}}</h1> -->
 <!-- @for(task of taskList; track task.id){
  <ul class="task-list">
    <li>{{task.task}}</li>
    <li>{{task.id}}</li>
    <li><button (click)="deleteTask(task.id)">Delete</button></li>
  </ul>
 } -->

 <!-- <h1
 [style.backgroundColor]="bgColor"
 [style.fontSize]="fontSize"
 >Dynamic Style</h1>
 <h1 [style.fontSize]="zoom? headingSizeBig:headingSizeSmall">Heading</h1>
 <button (click)="updateHeadingSize()">Toggle Font</button> -->

 <!-- <h1>*ngIf Directives in Angular</h1>
<div *ngIf="login; else elseBlock"><a href="">logout</a></div>
<ng-template #elseBlock>
  <a href="">login</a>
</ng-template> -->

<!-- <h1>*ngFor Directives in Angular</h1>
<ul>
  <li *ngFor="let student of students">{{students}}</li>
</ul>
<ul>
  <li *ngFor="let student of studentsData">
    {{student.name}}, {{student.age}}, {{student.email}}
  </li>
</ul> -->

<!-- <h1>*ngSwitch Directives in Angular </h1>
<button (click)="changeColor('red')">Red</button>
<button (click)="changeColor('green')">Green</button>
<button (click)="changeColor('yellow')">Yellow</button>
<button (click)="changeColor('blue')">Blue</button>
<button (click)="changeColor('pink')">Pink</button>
<div [ngSwitch]="color">
  <h1 *ngSwitchCase="'red'" style="background-color: red;">Red Color</h1>
  <h1 *ngSwitchCase="'green'" style="background-color: green;">Green Color</h1>
  <h1 *ngSwitchCase="'yellow'" style="background-color: yellow;">Yellow Color</h1>
  <h1 *ngSwitchCase="'blue'" style="background-color: blue;">Blue Color</h1>
  <h1 *ngSwitchCase="'pink'" style="background-color: pink;">Pink Color</h1>
  <h1 *ngSwitchDefault>No Color Match</h1>
</div> -->

<!-- <h1>Basic Routing in Angular</h1> -->
<ul>
  <!-- <li>
    <a routerLink="/login">Login</a>
  </li>
  <li>
    <a routerLink="/contact">Contact</a>
  </li>
  <li>
    <a routerLink="/about">About</a>
  </li>
</ul> -->
<router-outlet/>